{% extends '_templates/base.njk' %}

{% set relative_path = "../" %}

{% block member_name %}{{ name }}{% endblock %}

{% block member_description %} from {{ birthplace }}{% endblock %}

{% block content %}
  <article class="container">
    <div class="row">
      <div class="col-sm-4">
          <img src="../img/members/{{ image }}" alt="" class="img-fluid mb-4">
      </div>
      <div class="col-sm-8">
          <h1>{{ name }}</h1>
          <h3>From: {{ birthplace }}</h3>
          <h3>Born: {{ birthdate }}</h3>
          <h3>Plays: {{ instruments }}</h3>
          <h3>Active: {{ tenure }}</h3>
          <p>{{ description | safe }}</p>
      </div>
    </div>
  </article>
{% endblock %}
