{% extends '_templates/base.njk' %}

{% block page_title %}Discography{% endblock %}

{% block page_description %}A list of Queen's studio albums.{% endblock %}

{% block content %}
<article class="container">
  <h1>Studio albums</h1>
  <p>Queen's discography is a rich tapestry of musical innovation and diversity, spanning from their self-titled debut album in 1973 to their later masterpieces like "A Night at the Opera" and "News of the World," showcasing their ability to seamlessly blend rock, opera and pop influences. Their timeless hits, including "Bohemian Rhapsody," "We Will Rock You" and "Radio Ga Ga," continue to captivate audiences and cement their status as one of the greatest rock bands in history.</p>
    <!-- album cards -->
    <div class="row">
    {% for album in queen2.discography %}
    <div class="col-sm-6 col-lg-4">
      <div class="card text-bg-dark mb-4">
        <div class="card-body">
          <h5 class="card-title">{{ album.title }}</h5>
          <h6>{{ album.year }}</h6>
          <a href={{ album.spotify }}>
            <img src="img/discs/{{ album.image }}" class="img-fluid">
          </a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

</article>
{% endblock %}