{% extends '_templates/base.njk' %}

{% block page_title %}Welcome{% endblock %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <h1>Intro header</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil, corporis. Animi illo, esse molestias voluptatibus, nostrum, iure aspernatur eveniet ipsum nulla ab rem? Necessitatibus veritatis vitae est cupiditate illo porro!</p>
    </div>
  </div>
</div>
{% endblock %}